<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>购物车</title>
		<link rel="icon" href="img/faice.png">
		<link rel="stylesheet" href="./css/Shopping-cart.css" />
		<script src="js/v3.2.8/vue.global.prod.js"></script>
		<link rel="stylesheet" href="./layui/css/layui.css" />
		<script src="./layui/layui.js"></script>
	</head>
	<body>
		<div id="app">
			<div class="header">
				<div class="site-mini-header">
					<div class="container">
						<div class="header-logo">
							<a href="" class="logo">
								<img src="./img/bg.png" alt="" width="48" height="48" />
							</a>
						</div>
						<div class="header-title has-more">
							<h2>我的购物车</h2>
						</div>
						<div class="topbar-info" v-if="!users">
							<a href="./login.html" class="link">登录</a>
							<span class="sep">|</span>
							<a href="./enroll.html" class="link">注册</a>
						</div>
						<div class="topbar-info" v-if="users">
							<a href="#" class="link">{{users.account}}</a>
							<span class="sep">|</span>
							<a href="./orders.html" class="link">我的订单</a>
						</div>

					</div>
				</div>
			</div>

			<div class="page-main">
				<div class="container">
					<div class="empty-cart-wrap" v-if="!product.length">
						<div class="empty-cart-top">
							<h2 class="login-tip">您的购物车还是空的！</h2>
							<p class="login-desc" v-if="!users">登录后将显示您之前加入的商品</p>
							<a href="./login.html" class="btn-login" v-if="!users">立即登录</a>
							<a href="./index.html" class="btn-shapping-cart">马上去购物</a>
						</div>
					</div>
					<div class="empty-cart-wrap" style="background-color: #fff;" v-if="product.length">
						<div class="table-gwc">
							<p style="width: 776px;">商品名称</p>
							<p style="width: 125px;">单价</p>
							<p style="width: 125px;">数量</p>
							<p style="width: 125px;">小计</p>
							<p style="width: 75px;">小计</p>
						</div>
						<div class="table-shop">
							<div class="xaingxi" v-for="item in product" :key="item.id">
								<div class="xaingxi-img">
									<img :src="item.src" alt=""
										style="width: 100px;height: 100px;margin-left: 100px; float: left;" />
									<h2 style="line-height: 100px;float: left;width: 400px;">{{item.Model}}</h2>
								</div>
								<p style="width: 125px;">{{item.Price}}</p>

								<p style="width: 125px;">
									<span
										style="font-size: 26px;line-height: 30px;margin: 0 10px;">{{item.quantity}}</span>
								</p>
								<p style="width: 125px; color: #ff6700;">{{item.Price * item.quantity}}元</p>
								<p style="text-align: center;">
									<em class="layui-icon layui-icon-error"
										style="font-size: 20px;margin-left: 20px;cursor: pointer;"
										@click="deletproduct(item.id)"></em>
								</p>
							</div>


						</div>



					</div>
					<div class="jiesuan" v-if="product.length">
						<p style="flex: 1;line-height: 50px;margin-left: 50px;">
							<a href="./index.html" style="font-size: 14px;">继续购物</a>
						</p>
						<p style="margin-right: 50px;line-height: 50px;font-size: 20px;color: #ff6700;">合计
							{{calculateTotalPrice(product)}} 元</p>
						<button style="width: 150px;height: 50px;color: #fff;background-color: #ff6700;border: none;"
							@click="isaddress">去结算</button>
					</div>

				</div>
			</div>


			<div class="site-footer">
				<div class="container">

					<div class="footer-service">

						<ul class="list-service">
							<li>
								<a href="">
									<em class="layui-icon layui-icon-util"
										style="margin-right: 6px;font-size: 24px;line-height: 24px;vertical-align: -4px;"></em>
									预约维修服务
								</a>

							</li>
							<li>
								<a href="">
									<em class="layui-icon layui-icon-face-smile-b"
										style="margin-right: 6px;font-size: 24px;line-height: 24px;vertical-align: -4px;"></em>
									7天无理由退货
								</a>
							</li>
							<li>
								<a href="">
									<em class="layui-icon layui-icon-face-smile-b"
										style="margin-right: 6px;font-size: 24px;line-height: 24px;vertical-align: -4px;"></em>
									15天免费换货
								</a>
							</li>
							<li>
								<a href="">
									<em class="layui-icon layui-icon-star-fill"
										style="margin-right: 6px;font-size: 24px;line-height: 24px;vertical-align: -4px;"></em>
									满50包邮
								</a>
							</li>
							<li>
								<a href="">
									<em class="layui-icon layui-icon-location"
										style="margin-right: 6px;font-size: 24px;line-height: 24px;vertical-align: -4px;"></em>
									11100于家售后门店
								</a>
							</li>
						</ul>
					</div>
					<div class="footer-links" style="border-bottom: 1px solid  #e0e0e0;">
						<dl class="col-links">
							<dt></dt>
							<dd></dd>
						</dl>
						<dl class="col-links">
							<dt>了解产品</dt>
							<dd>手机</dd>
							<dd>电脑</dd>
							<dd>平板</dd>
							<dd>路由器</dd>
							<dd>耳机</dd>
							<dd>家电</dd>
						</dl>
						<dl class="col-links">
							<dt>在线购买</dt>
							<dd>官方商城</dd>
							<dd>订单查询</dd>
						</dl>
						<dl class="col-links">
							<dt>服务支持</dt>
							<dd>体验店</dd>
							<dd>真伪查询</dd>
							<dd>常见问题</dd>
							<dd>服务政策</dd>
						</dl>
						<dl class="col-links">
							<dt>商务合作</dt>
							<dd>供应商协同平台</dd>
							<dd>开放平台</dd>
							<dd>企业业务</dd>
						</dl>
						<dl class="col-links">
							<dt>关注我们</dt>
							<dd>新浪微博</dd>
							<dd>官方微信</dd>
							<dd>抖音</dd>
							<dd>公益基金会</dd>
						</dl>
						<div class="col-contact">
							<div class="col-text">
								<div>
									<p>
										<em class="layui-icon layui-icon-dialogue"
											style="margin-right: 6px;font-size: 24px;line-height: 24px;vertical-align: -4px;"></em>
										在线客服
									</p>
								</div>
								<div>
									<p>
										<em class="layui-icon layui-icon-service"
											style="margin-right: 6px;font-size: 24px;line-height: 24px;vertical-align: -4px;"></em>
										7*24小时服务热线
									<p style="padding-left: 30px;font-size: 20px;color: #242933;">400-xxx-9688</p>
									</p>
								</div>
								<div>
									<p>
										<em class="layui-icon layui-icon-email"
											style="margin-right: 6px;font-size: 24px;line-height: 24px;vertical-align: -4px;"></em>
										服务邮箱监督
									<p style="padding-left: 30px;">151xxxx.@163.com</p>
									</p>
								</div>
								<div>
									<p>
										<em class="layui-icon layui-icon-heart-fill"
											style="margin-right: 6px;font-size: 24px;line-height: 24px;vertical-align: -4px;"></em>
										关注本站
									<p style="padding-left: 30px;">
										<em class="layui-icon layui-icon-login-weibo"
											style="margin-right: 6px;font-size: 24px;line-height: 24px;vertical-align: -4px;"></em>
										<em class="layui-icon layui-icon-login-wechat"
											style="margin-right: 6px;font-size: 24px;line-height: 24px;vertical-align: -4px;"></em>
										<em class="layui-icon layui-icon-login-qq"
											style="margin-right: 6px;font-size: 24px;line-height: 24px;vertical-align: -4px;"></em>

									</p>
									</p>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

			<!-- 页面最底部 -->
			<footer class="footer-bottom">
				<div class="container">
					<p class="vp-foot-copyright">
						<span style="font-size: 10px;">©2024-2025 云南民族大学应用技术学院23计科一班 版权所有 | 隐私政策 | 用户协议 | 资质主体 | 粤B2-20150324
							| 粤ICP备14052990号 | 粤公网安备
							44190002004246号
						</span>
						<span style="float: right;font-size: 10px;">
							Select Location
							<em class="layui-icon layui-icon-website"></em>
						</span>
					</p>
				</div>
			</footer>

		</div>
		<script>
			layui.use(function() {
				var layer = layui.layer;
			})
			const App = {
				data() {
					return {
						showguc: false, //是否显示购物车空图片
						counter: 0,
						product: "",
						users: ""

					}
				},

				created() {
					const storedUser = localStorage.getItem('user');
					this.users = JSON.parse(storedUser)
					let that = this
					this.getShowgouwuche(that)
				},
				methods: {
					isaddress() {
						let that = this
						if (!this.users.address) {
							window.location.href = './address.html';
						} else {
							//结算订单 生成订单
							const order_amount = that.calculateTotalPrice(that.product)
							//后端根据account 生成订单好，日期，前端传account,结算金额，
							fetch('http://127.0.0.1:3000/api/user/insertOrder', {
									method: 'POST',
									headers: {
										'Content-Type': 'application/json'
									},
									body: JSON.stringify({
										account_id: that.users.account,
										order_amount: order_amount
									})
								})
								.then(response => response.json())
								.then(data => {
									console.log('服务器返回:', data);
									layer.msg("购物成功")
									setTimeout(function() {
										window.location.reload();
									}, 1000)


								})
								.catch(error => {
									console.error('上传出错:', error);
									layer.msg("信息修改失败")
								});
						}

					},
					calculateTotalPrice(data) {
						let total = 0;
						for (const item of data) {
							total += item.Price * item.quantity;
						}
						return total;
					},
					deletproduct(id) {
						let that = this

						// 定义请求的URL
						const apiUrl = 'http://127.0.0.1:3000/api/product/deleteproduct';

						// 准备请求的数据

						const account_id = this.users.account; // 假设的账户ID


						// 发送DELETE请求
						fetch(apiUrl, {
								method: 'DELETE',
								headers: {
									'Content-Type': 'application/json'
								},
								body: JSON.stringify({
									id,
									account_id
								})
							})
							.then(response => {
								if (!response.ok) {
									throw new Error(`HTTP error! status: ${response.status}`);
								}
								return response.json();
							})
							.then(data => {
								console.log(data);
								// 处理成功删除的响应
								//应该重新请求后台，重新加载购物车
								that.getShowgouwuche(that)
							})
							.catch(error => {
								console.error('Error deleting product:', error);
								// 处理错误
							});

					},
					//http://127.0.0.1:3000/api/product/showgouwuche?account_id=
					getShowgouwuche(that) {
						// 定义请求的URL
						const storedUser = JSON.parse(localStorage.getItem('user'));

						const apiUrl = 'http://127.0.0.1:3000/api/product/showgouwuche?account_id=' + storedUser.account;


						// 发送GET请求
						fetch(apiUrl)
							.then(response => {
								// 首先检查HTTP状态码
								if (!response.ok) {
									throw new Error(`HTTP error! status: ${response.status}`);
								}
								// 解析JSON数据
								return response.json();
							})
							.then(data => {
								// 处理成功获取的数据
								console.log(data);
								// 这里可以根据返回的数据进行DOM操作，更新页面等
								that.product = data.data
								console.log(data.data);
							})
							.catch(error => {
								// 处理错误的情况
								console.error('Error fetching data:', error);
							});

					}
				}
			}
			Vue.createApp(App).mount('#app');
		</script>
	</body>
</html>