* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 14px / 1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
	color: #333;
	background-color: #fff;
	min-width: 1226px;
}


li,
a {
	list-style: none;
	text-decoration: none;
}

.focused {
	border: 1px solid #ff6700;
}

.normal {
	border: 1px solid #e0e0e0;
}

.header {}

.site-topbar {
	position: relative;
	z-index: 30;
	height: 40px;
	font-size: 12px;
	color: #b0b0b0;
	background: #333;
}

.site-topbar a {
	color: #b0b0b0;
	line-height: 40px;
	display: inline-block;
}

.site-topbar .sep {
	margin: 0 .4em;
	color: #424242;
}

.container {
	margin: 0 auto;
	width: 1226px;
}

.layui-row .topbar-nav {
	float: left;
	height: 40px;
	line-height: 40px;
}

.site-topbar .cart-mini {
	position: relative;
	z-index: 32;
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #b0b0b0;
	background: #424242;
}

.cart-mini em {
	margin-right: 4px;
	font-size: 20px;
	line-height: 20px;
	vertical-align: -4px;
}

.site-header {
	height: 100px;
	z-index: 20;
}

.btoom {
	display: flex;
}

.btoom .header-logo {
	flex: 2;
}

.btoom .header-logo .logo {
	margin-top: 20px;
	width: 60px;
	
	height: 60px;
}

.btoom .header-nav {
	flex: 10;
}

.btoom .search {
	flex: 4;
}

.header-nav {
	float: left;
	width: 600px;
}

.site-header .nav-list {
	position: relative;
	z-index: 10;
	float: left;
	width: 400px;
	height: 88px;
	margin: 0;
	padding: 12px 0 0 30px;
	list-style-type: none;
	font-size: 16px;
}

.site-header .nav-item {
	float: left;

	display: list-item;
	text-align: -webkit-match-parent;
	unicode-bidi: isolate;

}

.site-header .nav-item .link {
	display: block;
	padding: 26px 10px 38px;
	color: #333;
	-webkit-transition: color .2s;
	transition: color .2s;
}

.site-header .nav-item .link:hover {
	color: #ff6700;
}

.search {
	display: flex;
	align-items: center;

}

.search input {
	border: none;
	height: 48px;
}

.serch-in {
	border: 1px solid #e0e0e0;
	border-right: none;
	font-size: 22px;

}

#search-icon-em {
	font-size: 48px;
	cursor: pointer;

}

.search input:focus {
	border: 1px solid #ff6700;
	border-right: none;
}
.site-header .header-nav-menu {
    position: absolute;
	overflow: hidden;
	transition: height 0.4s;
    top: 140px;
    left: 0;
    z-index: 24;
    width: 100%;
    height: 0px;
    border-top: 1px solid #e0e0e0;
    background: #fff;
    overflow: hidden;
	box-shadow: 0 3px 4px rgba(0, 0, 0, .18);
	
}
.children-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 12px;
	height: 210px;
}
 .children-list li {
    position: relative;
    float: left;
    width: 180px;
   margin-left: 15px;
   padding-top: 30px;
    text-align: center;
}





/* footer */
.site-footer .footer-service {
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
	
}
 .site-footer .list-service {
    
    padding: 0;
    list-style-type: none;
	height: 25px;
}

.site-footer .list-service li:first-child {
    border-left: 0;
}
.site-footer .list-service li {
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.site-footer .list-service a {
    color: #616161;
    -webkit-transition: color .2s;
    transition: color .2s;
}
#layui-icon-size-em-footer {
    margin-right: 6px;
    font-size: 24px;
    line-height: 24px;
    vertical-align: -4px;
}
.iconfont-tool:before {
    content: "\E634";
}



.footer-links{
	padding: 40px 0;
	height: 338px;
}
.footer-links .col-links {
    float: left;
    width: 160px;
    margin: 0;
}
.footer-links .col-links dd {
    margin: 10px 0 0;
    font-size: 12px;
	cursor: pointer;
}
.footer-links .col-links dt {
	
    margin: -1px 0 26px;
    font-size: 16px;
    line-height: 1.25;
    color: #424242;
}
.footer-links .col-contact {
    float: right;
    width: 251px;
    border-left: 1px solid #e0e0e0;
    
    color: #616161;
}
.footer-links .col-contact  p{
    font-size: 16px;
}
.col-text{
	padding-left: 30px;
}
.col-text div{
	margin-top: 20px;
}


/* footer-bottom */
.footer-bottom{
	background-color: #fafafa;
	padding: 20px 0;
}




/* 固定条 */
.bar{
	position: fixed;
	right: 0;
	bottom: 70px;
	z-index: 999999;
}
.bar-list{
	width: 82px;
	height: 90px;
	border: 1px solid #f5f5f5;
	background-color: #fff;
	text-align: center;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .18);
	color: #757575;
	
}
.bar-list span{
	color: #757575;
	
}
.bar-list em{
	
	font-size: 30px;
	line-height: 60px;
	vertical-align: 5px;
	
	
	
}