* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 14px / 1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
	color: #333;
	background-color: #fff;
	min-width: 1226px;
}

li,
a {
	list-style: none;
	text-decoration: none;
}







/* 导航栏he预览 */
.container {
	margin: 0 auto;
	width: 1226px;
}

.site-mini-header {
	font-size: 12px;
	border-bottom: 2px solid #ff6700;
	background: #fff;
	color: #b0b0b0;
	position: relative;
	z-index: 20;
	height: 100px;
}

.site-mini-header .header-logo {
	width: 93px;
	margin-top: 26px;
	float: left;
}

.site-mini-header .header-logo .logo {
	position: relative;
	display: block;
	width: 48px;
	height: 48px;
	overflow: hidden;
	
	float: left;
}

.site-mini-header .has-more {
	height: 48px;
}

.site-mini-header .header-title {
	float: left;
	margin-top: 26px;
}

.site-mini-header .has-more h2 {
	float: left;
	line-height: 48px;
	margin-bottom: 0;
	font-size: 28px;
	font-weight: 400;
	color: #424242;
}

.topbar-info {
	position: relative;
	float: right;
	height: 40px;
	line-height: 40px;
	margin-top: 30px;
}

.topbar-info .link {
	padding: 0 5px;
	text-align: center;
	color: #757575;
}


.page-main {
	padding: 38px 0;
	background: #f5f5f5;
}

.empty-cart-top {
	height: 273px;
	padding-left: 558px;
	margin: 65px 0 130px;
	background: url(../img/gwc.png) no-repeat 124px 0;
	color: #b0b0b0;
	overflow: hidden;
}

.login-desc {
	margin: 0;
	font-size: 20px;
	color: #b0b0b0;
}

.login-tip {
	margin: 70px 0 0 0;
	font-size: 36px;
}

.btn-login {
	margin-right: 10px;
	margin-top: 20px;
	width: 170px;
	height: 48px;
	line-height: 48px;
	background: #ff6700;
	border-color: #ff6700;
	color: #fff;
	font-size: 18px;
	display: inline-block;
	text-align: center;
}

.btn-shapping-cart {
	color: #ff6700;
	border: 1px solid #ff6700;
	margin-right: 10px;
	margin-top: 20px;
	width: 170px;
	height: 48px;
	line-height: 48px;
	font-size: 18px;
	display: inline-block;
	text-align: center;
}

/* footer */
.site-footer .footer-service {
	padding: 27px 0;
	border-bottom: 1px solid #e0e0e0;

}

.site-footer .list-service {

	padding: 0;
	list-style-type: none;
	height: 25px;
}

.site-footer .list-service li:first-child {
	border-left: 0;
}

.site-footer .list-service li {
	float: left;
	width: 19.8%;
	height: 25px;
	border-left: 1px solid #e0e0e0;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
}

.site-footer .list-service a {
	color: #616161;
	-webkit-transition: color .2s;
	transition: color .2s;
}

#layui-icon-size-em-footer {
	margin-right: 6px;
	font-size: 24px;
	line-height: 24px;
	vertical-align: -4px;
}

.iconfont-tool:before {
	content: "\E634";
}



.footer-links {
	padding: 40px 0;
	height: 338px;
}

.footer-links .col-links {
	float: left;
	width: 160px;
	margin: 0;
}

.footer-links .col-links dd {
	margin: 10px 0 0;
	font-size: 12px;
	cursor: pointer;
}

.footer-links .col-links dt {

	margin: -1px 0 26px;
	font-size: 16px;
	line-height: 1.25;
	color: #424242;
}

.footer-links .col-contact {
	float: right;
	width: 251px;
	border-left: 1px solid #e0e0e0;

	color: #616161;
}

.footer-links .col-contact p {
	font-size: 16px;
}

.col-text {
	padding-left: 30px;
}

.col-text div {
	margin-top: 20px;
}


/* footer-bottom */
.footer-bottom {
	background-color: #fafafa;
	padding: 20px 0;
}


.table-gwc {
	display: flex;
	padding: 20px 0;
	text-align: center;
	border-bottom: 1px solid #757575;
}

.table-shop {

	padding: 10px 0;
	

}

.xaingxi {
	display: flex;
	margin: 30px 0;
}

.xaingxi p {
	text-align: center;
	line-height: 100px;
}

.xaingxi-img {
	display: flex;
	width: 776px;
}
.jiesuan{
	margin: 15px 0;
	padding: 10px 0;
	background-color: #fff;
	display: flex;
	justify-content: right;
}